alembic==1.12.1
amqp
anyio
asgiref
async-timeout
billiard
celery
click
click-didyoumean
click-plugins
click-repl
dependency-injector==4.41.0
Deprecated
fastapi==0.104.1
greenlet
h11
idna
kombu
Mako
MarkupSafe
numpy
packaging
pandas
prompt-toolkit
psycopg2-binary==2.9.9
pydantic==2.5.2
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pyjwt
pyparsing
python-dateutil
pytz
pytest
PyYAML
redis
requests
six
sniffio
SQLAlchemy==2.0.23
starlette
typing_extensions
uvicorn==0.24.0
vine
wcwidth
wrapt
ipython
tqdm
textdistance